header {
	background: #BBBBBB;
	padding: 20px 0;
	
}

.caixa {
	width: 940px;
	position: relative;
	margin:0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	color: #000000;
	font-size:22px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}


#banner{
	width: 96%;
	height: 450px;
	margin: 2%;
}

.principal {
	background:#CCCCCC;
	padding: 30px
}

.principal p {
	padding: 5px;
}

.titulo-centralizado {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

p {
	text-align: center
}

#missao {
	font-size: 20px
}

em strong {
	color: red
}

.beneficios {
	background: #FFFFFF;
	padding: 20px
}

.beneficios ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%
}

.itens {
	font-style: italic;
    font-size: 25px;
    padding: 40px;
    margin-left: 50px;
    font-weight: bold;
 }

.imagembeneficios {
	width: 50%;
	border-radius: 50px 50px;
	margin: 25px 0px 10px 200px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 20px
	

}